<?php

const DB_CONNECTION_TESTS = [
    'driver' => '',
    'host' => '',
    'database' => '',
    'username' => '',
    'password' => '',
    'charset'  => 'utf8',
    'collation' => 'utf8_unicode_ci',
    'port'     => '3306'
];
